{% extends 'AppBundle:Layout:base+drawer.html.twig' %}

{% block links %}
    {{ parent() }}
    <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html"/>

    <link rel="import" href="/bower_components/core-ajax/core-ajax.html"/>
    <link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html"/>

    <link rel="import" href="/bower_components/core-list/core-list.html"/>
    <link rel="import" href="/bower_components/paper-item/paper-item.html"/>
    <link rel="import" href="/bower_components/core-image/core-image.html"/>
{% endblock links %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #person-list core-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
            background-color: lightgray;
        }

        #person-detail core-image {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            margin-right: 16px;
            background-color: lightgray;
        }

        #person-detail-card {
            padding: .9em 1em;
        }

        #toolbar-pages {
            margin: 0;
        }

        #toolbar-pages > section > * {
            margin: 0 8px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {% import 'Nemo64PolymerBundle::common.html.twig' as polymer %}

    <core-ajax auto url="{{ path('get_persons') }}" handleAs="json"
               response="{{ polymer.var('persons') }}"></core-ajax>

    <core-header-panel fit mode="{{ block('header_mode') }}">
        <core-toolbar hero hero-id="toolbar">
            <core-animated-pages id="toolbar-pages"
                                 fit selected="{{ polymer.var('personPage') }}"
                                 transitions="hero-transition cross-fade">

                <section layout horizontal center>
                    <paper-icon-button icon="menu" core-drawer-toggle
                                       cross-fade></paper-icon-button>
                    <div flex hero hero-id="header">Kontakte</div>
                </section>
                <section layout horizontal center>
                    <paper-icon-button icon="arrow-back" on-tap="{{ polymer.var('selectPerson') }}"
                                       cross-fade></paper-icon-button>
                    <div flex hero hero-id="header">{{ polymer.var('selectedPerson.name.normal') }}</div>
                </section>

            </core-animated-pages>
        </core-toolbar>

        <core-animated-pages fit selected="{{ polymer.var('personPage') }}"
                             transitions="hero-transition cross-fade">

            <section id="person-list">

                <core-list fit data="{{ polymer.var('persons') }}">
                    <template>
                        <paper-item layout horizontal noink on-tap="{{ polymer.var('selectPerson') }}"
                                    data-index="{{ polymer.var('index') }}">

                            <core-image sizing="cover"
                                        src="http://lorempixel.com/128/128/?{{ polymer.var('model.id') }}"
                                        hero?="{{ polymer.var('selectedPerson === model') }}"
                                        hero-id="person-{{ polymer.var('model.id') }}-image"
                                        cross-fade?="{{ polymer.var('selectedPerson !== model') }}">
                            </core-image>
                            <div hero?="{{ polymer.var('selectedPerson === model') }}"
                                 hero-id="person-{{ polymer.var('model.id') }}-name"
                                 cross-fade?="{{ polymer.var('selectedPerson !== model') }}">
                                {{ polymer.var('model.name.normal') }}
                            </div>

                        </paper-item>
                    </template>
                </core-list>

            </section>

            <section id="person-detail" on-tap="{{ polymer.var('selectPerson') }}">

                <div id="person-detail-card" fit>
                    <div layout horizontal>

                        <core-image sizing="cover"
                                    src="http://lorempixel.com/128/128/?{{ polymer.var('selectedPerson.id') }}"
                                    hero hero-id="person-{{ polymer.var('selectedPerson.id') }}-image">
                        </core-image>
                        <div layout vertical start>
                            <div layout horizontal>
                                <h1 hero hero-id="person-{{ polymer.var('selectedPerson.id') }}-name">
                                    {{ polymer.var('selectedPerson.name.normal') }}
                                </h1>
                            </div>
                            <p cross-fade>
                                Dies ist bestimmt eine tolle Person
                            </p>
                        </div>

                    </div>
                </div>

            </section>

        </core-animated-pages>
    </core-header-panel>
{% endblock content %}

{% block javascripts %}
    <script>
        var template = document.querySelector('#main-template');
        template.personPage = 0;
        template.selectedPerson = null;
        template.selectPerson = function (e) {
            var person = e.target.templateInstance.model.model_;
            console.log(person);
            if (this.personPage === 0 && person) {
                this.selectedPerson = person;
                this.personPage = 1;
                document.body.classList.add('detail-page');
            } else {
                this.personPage = 0;
                document.body.classList.remove('detail-page');
            }
        }
    </script>
{% endblock javascripts %}